.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid blue;
  background-color: #000;
  line-height: 30px;
  display: flex;

  &__box {
    background-color: blue;
    display: inline;
  }

  &__link {
    color: red;
    line-height: 30px;
  }
}
